doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Glimpse AI
    link(rel='stylesheet', href='.././style.css')
  body
    .heading
      h1.headline Glimpse AI
    form(action='/', method='get')
        .backToSearch
            button(type='submit') Back To Search
    .container
      .images 
          if images && images.length
              each image in images
                  img(src=image)