* {
    margin: 0;
    padding: 0;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

body {
    margin: 0 2vw;
    background-color: #fff;
    background: url(./particle-cosmic-24243.mp4);
}


.heading {
    padding: 1rem 0;
    text-align: left;
    color: #000;
}

.headline {
    font-size: 2vw;
}

input {
    border: 0.1vw solid black;
}

.searchbar {
    margin-top: 5vh;
    line-height: 2.5;
}

#searchQuery {
    width: 60vw;
    margin: 0 20vw 2vh;
    padding: 20px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 82, .15);
    transition: 0.5s;
}

#searchQuery:focus {
    outline: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 48, 0.455);
}

#no {
    width: 5vw;
    text-align: center;
    margin: 10px 1vw;
    padding: 5px;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 82, 0.455);
    outline: none;
}

.n {
    display: flex;
    justify-content: center;
}

.gridview {
    display: flex;
    justify-content: center;
}

button {
    color: #fff;
    background-color: #000;
    padding: 0.5%;
    border-radius: 5%;
    cursor: pointer;
}

.backToSearch {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

/* index pug file  */
.img {
    display: flex;
    margin-top: 3rem;
    justify-content: center;
}

.example-img {
    text-align: center;
}

.example-img img {
    width: 15vw;
    margin: 0 2rem;
}

@media screen and (max-width: 600px) {
    .headline {
        font-size: 1.2rem;
        margin-left: 20px;
    }

    body {
        margin: 0;
    }

    .example-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .example-img img{
        width: 80%;
        margin-top: 10px;
    }

    

}

.container {
    width: 80vw;
    margin: 2vh 10vw 0;
    display: flex;
}

.images {
    width: 20vw;
    height: auto;
    /* margin: 5% 20vw 0; */
    display: inline-block;
}

.images img {
    width: 100%;
    margin: 2vh 0;
}

.github {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 1%;
}